<form>
    <div class="row">
        {{ slot }}
        <div class="col-4 col-md-3">
            <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
            {{ form.phone_number  }}
        </div>

        {% comment %}
        <div class="col-3 align-self-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

        * di-disabled aja biar tau bahwa sebenernya gini dulu.
        {% endcomment %}

        <div class="col-3 align-self-end">
            <button class="btn btn-danger" type="button"
                hx-on:click="this.closest('form').remove()"
            >
                Cancel
            </button>
        </div>
    </div>
</form>
