<form>
    <div class="row">
        {{ slot }}

        {% comment %}
        <div class="col-3 align-self-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

        * di-disabled aja biar tau bahwa sebenernya gini dulu.
        {% endcomment %}

        <div class="col-3 align-self-end">
            <button class="btn btn-danger" type="button"
                hx-on:click="this.closest('form').remove()"
            >
                Cancel
            </button>
        </div>
    </div>
</form>
